In [1]:
import pandas as pd

In [10]:
df=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\pandas\placement2.csv")
df.head(3)

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25

In [22]:
df.shape

(200, 2)

In [14]:
input_data = df.iloc[:,:-1]
output_data = df["package"]

In [16]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test = train_test_split(input_data , output_data,test_size=0.25)

In [24]:
x_train

     cgpa
16   6.84
169  9.31
2    7.82
182  5.88
71   7.47
..    ...
147  5.66
123  5.10
22   6.14
32   6.96
104  7.62

[150 rows x 1 columns]

In [28]:
x_train.shape ,y_train.shape

((150, 1), (150,))