# Train Test Split

* dataset change in 2 part ==> traing and testing

* when our data supervised then our data change in train test split otherwise no need .

In [7]:
import pandas as pd

In [9]:
dataset=pd.read_csv("C:\\Users\\ASUS\\OneDrive\\Desktop\\pandas\\placement.csv")
dataset.head(5)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [11]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["placed"]

In [13]:
from sklearn.model_selection import train_test_split

In [17]:
x_train , x_test, y_train, y_test=train_test_split(input_data,output_data,test_size=0.25)

In [19]:
x_train

    cgpa  resume_score
18  5.94          5.88
65  6.04          8.75
5   8.77          6.19
69  8.06          9.06
60  5.87          6.64
..   ...           ...
6   5.34          7.09
98  8.14          5.63
1   6.17          5.17
75  6.34          7.94
29  6.19          7.30

[75 rows x 2 columns]

In [21]:
y_test

47    1
21    0
14    1
61    1
40    1
97    0
66    1
93    1
22    0
84    0
48    0
39    1
33    1
26    0
36    1
43    1
74    0
13    1
23    0
16    1
53    0
73    0
92    0
88    1
63    1
Name: placed, dtype: int64

In [23]:
dataset.shape

(100, 3)

In [27]:
x_train.shape

(75, 2)